{% extends 'base.html' %}

{% block content %}

<h1>{{ city.name }}</h1>

<div class="mb-4">
    <form method="GET">
        <label class="me-2">Sort By:</label>

        <select
            name="sort"
            onchange="this.form.submit()"
            class="form-select w-auto d-inline"
        >

        <option
            value="score"
            {% if sort=='score' %}
                selected
            {% endif %}
        >
        PageRank Score
        </option>

        <option
            value="alphabetical"
            {% if sort=='alphabetical' %}
                selected
            {% endif %}
        >
        Alphabetical
        </option>

        </select>
    </form>
</div>

<div class="row">

{% for place in places %}

<div class="col-md-4 mb-4">

    <div class="card shadow-sm h-100">

        {% if place.image_path %}

        <img
            src="{{ url_for('static', filename=place.image_path) }}"
            class="card-img-top"
        >

        {% else %}

        <div class="placeholder-image">
            No image
        </div>

        {% endif %}

        <div class="card-body">

            <h4>{{ place.name }}</h4>

            <p>
                Score:
                {{ "%.5f"|format(place.pagerank_score) }}
            </p>

            <a
                href="/place/{{ place.place_id }}"
                class="btn btn-dark"
            >
                View
            </a>

        </div>

    </div>

</div>

{% endfor %}

</div>

{% endblock %}